.first-part{
    margin-left: 110px;
    margin-right: 110px;
}
.jacket img{
    width: 100%;
    height: 500px;
    border: 1px solid gray;
    background-color: whitesmoke;
    border-radius: 5px;
    border-style: none;
    
    
}
.footer{
    border-style: none;
}

.last-part::after{
    background-color: lightpink;
}